html, body {
		font-size: 14px;
		color: #4169E1;
        height: 100%;
        margin: 0;
        padding: 0;
      }
.cabecera{
	background: #2F4F4F;
	color:#FFFFFF;	
	margin-bottom: 0px;
	padding:  0px, 0px, 8px, 0;
	

}
.footer1{
	background :#C1CDC1;
	color:#483D8B;
	
}
.imagenes{
	width: 20px;
	height: 20px;
}
